<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="br.com.balzer.getdateinstallapp"
        version="0.1.0">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/getdateinstallapp.js" target="js/getdateinstallapp.js"/>

  <js-module src="www/getdateinstallapp.js" name="getdateinstallapp">
    <clobbers target="Gdia" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Getdateinstallapp">
        <param name="android-package" value="br.com.balzer.getdateinstallapp.plugin.Getdateinstallapp"/>
      </feature>
    </config-file>

    <source-file src="src/android/Getdateinstallapp.java" target-dir="src/br/com/balzer/getdateinstallapp/plugin/"/>
  </platform>


</plugin>